{{ form_start(form) }}
    {{ form_row(form.isActive) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.description) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.boutique) }}

    {# on crée une macro pour prendre en charge l'apparence du rendu du formulaire des images #}
    {% macro renderImageForm(form, imageName = null) %}
    <div class="d-flex flex-wrap bg-form-image p-3 my-2 img-form-container position-relative">
        <div class="col-12 col-md-1">
            {% if imageName is not null %}
            <a href="{{asset('images/montre/'~ imageName)}}" data-lightbox= "{{imageName}}" class ="d-block me-3"><img src="{{asset('images/montre/'~ imageName)}}" alt="" class="img-fluid img-form-montre ">
            </a>
            {% endif %}  
        </div>
        <div class="col-12 col-md-11">
            {{form_label(form.vars.form.children["imageFile"])}}
            {{form_widget(form.vars.form.children["imageFile"])}}
            {{form_label(form.vars.form.children["rankOrder"])}}
            {{form_widget(form.vars.form.children["rankOrder"])}}
        </div>
    </div>


    {% endmacro %}
    {# on importe la macro #}
    {% import _self as macros %}




    
    <ul class="images list-unstyled"
        data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
        data-prototype="{{ macros.renderImageForm(form.images.vars.prototype)|e('html_attr') }}"> 
        {# on affiche les formulaires d'image pour les images déja ajoutées au livre #}
        {% for image in form.images %}
        <li>{{macros.renderImageForm(image, image.vars["data"].imageName)}}</li>
        {% endfor %}    
    </ul>
        <div>
    <button type="button" class="add_item_link btn btn-success mb-3" data-collection-holder-class="images">Ajouter une image</button>
    </div>

    <button class="btn btn-success">{{ button_label|default('Sauvegader') }}</button>
{{ form_end(form) }}
