{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1  class ="golden-h1" >Mon compte</h1>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active text-dark" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">Mes informations</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link text-dark" id="favoris-tab" data-bs-toggle="tab" data-bs-target="#favoris-tab-pane" type="button" role="tab" aria-controls="favoris-tab-pane" aria-selected="false">Mes favoris</button>
    </li>
</ul>
    <div class="tab-content py-3" id="myTabContent">
        <div class="tab-pane fade show active" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab" tabindex="0">
            {{ form_start(form) }}
            {{form_label(form.avatar,"Avatar", {'label_attr':{class :"w-100"}})}}
            {{form_widget(form.avatar.imageFile) }}
            <div class="d-flex flex-wrap">
                <div class="col-12 col-md-4 pe-1">
                    {{form_label(form.email, 'Email', {'label_attr': {class : "w-100"}})}}
                    {{form_widget(form.email)}}
                </div>
                <div class="col-12 col-md-4 px-1">
                    {{form_label(form.plainPassword.first, 'Mot de passe', {'label_attr': {class : "w-100"}})}}
                    {{form_widget(form.plainPassword.first)}}
                    {{form_help(form.plainPassword)}}
                </div>
                <div class="col-12 col-md-4 ps-1">
                    {{form_label(form.plainPassword.second , 'Confirmation du mot de passe', {'label_attr': {class : "w-100"}})}}
                    {{form_widget(form.plainPassword.second)}}
                </div> 
            </div>
            <div class="d-flex flex-wrap">
            <div class="col-12 col-md-4 pe-1">
                {{form_label(form.nom, 'Nom', {'label_attr':{'class':'w-100'}})}}
                {{form_widget(form.nom)}}
            </div>
            <div class="col-12 col-md-4 px-1">
                {{form_label(form.prenom, 'Prénom', {'label_attr':{'class':'w-100'}})}}
                {{form_widget(form.prenom)}}
            </div>
            <div class="col-12 col-md-4 ps-1">
            {{form_label(form.telephone, 'Téléphone', {'label_attr':{'class':'w-100'}})}}
            {{form_widget(form.telephone)}}
        </div>        
            {# {{ form_widget(form.modifier) }} #}
            {{ form_end(form) }}
        </div>
    </div>    
        <div class="tab-pane fade" id="favoris-tab-pane" role="tabpanel" aria-labelledby="favoris-tab" tabindex="0">
        <div class="row">
        {% for favori in app.user.favoris  %}
        {% set montre = favori.montre %}
        <div class="col-12 col-md-3 col-lg-2 d-flex align-items-stretch parent-card">
        <div class="card" >
            {% if montre.images|length > 0 %}
                {% set image = montre.images[0].imageName %}
            {% else %}
                {% set image = "default.jpg" %}
            {% endif %}        
            <img src="{{asset('images/montre/'~ image) }}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-wrap">
                <h5 class="card-title">{{montre.nom}}</h5>
                <div class="align-self-end w-100">
                    <p class="card-text">{{montre.prix|format_currency('EUR')}}</p>
                    <div class="d-flex flex-wrap justify-content-between w-100">
                        <a href="{{path('app_front_montre', {slug: montre.slug}) }}" class="btn  ">Voir</a>
                    <button class=" btn btn-dark add-favori from_user-profil" data-montre-id="{{montre.id}}"><i class="fa-solid fa-star"></i></button>
                        
                    </div>
                </div>
        </div>
    </div>
</div>
        {% endfor %}


    </div>
        </div>
    </div>
{% endblock %}
